# Python
__pycache__/
*.pyc
.venv/
.ruff_cache/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/

# LaTeX artifacts (generic)
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg

# LaTeX artifacts (academic/)
academic/*.aux
academic/*.log
academic/*.out
academic/*.toc
academic/*.synctex.gz
academic/*.fls
academic/*.fdb_latexmk
academic/*.bbl
academic/*.blg


# Analysis Results
results/
*.zip
*.csv
*.json
!results/Readme.md
